<!DOCTYPE html>
<html>

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="CSS/toast.css" type="text/css">
    <title>Booking Application</title>
</head>

<body>

    <div class="container-fluid my-container">
        <div class="row my-row  justify-content-around">
          <div class="col-sm-4 my-col">
              <span style="margin-top: 2%;" class="input-group-text">Naziv:</span>
              <input type="text" id="nameInput" class="form-control"  placeholder="Unesite naziv...">
              <span class="input-group-text" style="margin-top: 5%;">Adresa:</span>
              <input type="text" id="lastnameInput" class="form-control" placeholder="Unesite adresu...">
              <span class="input-group-text" style="margin-top: 5%;">Opis:</span>
              <textarea class="form-control" id="usernameInput" rows="6" placeholder="Unesite opis..."></textarea>
              <span class="input-group-text" style="margin-top: 5%;">Pravila ponasanja:</span>
              <textarea class="form-control" id="usernameInput" rows="4" placeholder="Unesite pravila ponasanja..."></textarea>
              <span class="input-group-text" style="margin-top: 5%;">Oprema:</span>
              <textarea class="form-control" id="usernameInput" rows="4" placeholder="Unesite opremu..."></textarea>
            </div>
            <div class="col-sm-4 my-col">
              
              <span style="margin-top: 2%;" class="input-group-text">Maksimalni broj osoba:</span>
              <input type="number" min="1" max="30" class="form-control">
              <span class="input-group-text" style="margin-top: 5%;" id="basic-addon1">Uslovi otkazivanja:</span>
              <select class="form-select" v-model="newRestaurant.managerId" id="managerComboBox" aria-label="Example select with button addon">
                <option>Besplatno</option>
                <option>Procenat uplate</option>
              </select>
              <span class="input-group-text" style="margin-top: 5%;">Cenovnik:</span>
              <textarea class="form-control" id="usernameInput" rows="6" placeholder="Unesite cenovnik..."></textarea>
              <span class="input-group-text" style="margin-top: 5%;">Biografija instruktora:</span>
              <textarea class="form-control" id="usernameInput" rows="4" placeholder="Unesite biografiju..."></textarea>
              <span class="input-group-text" style="margin-top: 5%;">Informacije o dodatnim uslugama:</span>
              <textarea class="form-control" id="usernameInput" rows="4" placeholder="Unesite info o dodatnim uslugama..."></textarea>
            </div>
            <div class="col-sm-4 my-col">
                <div class="row my-row justify-content-around">
                    <div class="col-sm-2 my-col"></div>
                    <div class="col-sm-8 my-col"></div>
                    <button type="button" style="margin-top: 7%; margin-left: 0%;" v-on:click="enableInfoEdit()" class="btn btn-secondary btn-lg">Promeni podatke</button>
                    <button type="button" style="margin-top: 7%; margin-left: 0%;"  v-on:click="saveInfoEdit()" class="btn btn-primary btn-lg">Sačuvaj izmene</button>
                    <button type="button" style="margin-top: 7%; margin-left: 0%;"  v-on:click="saveInfoEdit()"  data-bs-toggle="modal" data-bs-target="#registerModal" class="btn btn-danger btn-lg">Brza rezervacija</button>
                    <div class="col-sm-2 my-col"></div>
                </div>
                <div class="row">
                    <div style="margin-top: 15%; margin-left: 12%;" class="col-sm-6 my-col">
                        <label class="input-group-text" for="inputGroupFile01">Izbor slike:</label>
                        <input id="uploadImage" name="myPhoto" onchange="PreviewImage();" type="file" accept="image/png, image/jpeg" class="form-control">
                        <div style="margin-top: 10%;">
                          <img  id="uploadPreview" style="width: 400px; height: 280px;" />
                        </div>
                    </div>
            </div>
                </div>
              
          </div>
      </div>
    
    <!--MODAL ZA DODAVANJE NOVE AKCIJE-->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Akcija</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row my-row" style="margin-top: 2%;">
                    <div class="col col-sm-6">
                        <input type="date" v-model="orderSearchQuery.dateDown" class="form-control" placeholder="Datum-od">
                          <span class="input-group-text" id="basic-addon1">Datum-od</span>
                      </div>
                      <div class="col col-sm-6">
                        <input type="time" class="form-control" placeholder="Datum-od">
                          <span class="input-group-text" id="basic-addon1">Vreme-od</span> 
                      </div>
                </div>
                <div class="row my-row" style="margin-top: 2%;">
                      <div class="col col-sm-6">
                        <input type="date" v-model="orderSearchQuery.dateUp" class="form-control" placeholder="Datum-do">
                          <span class="input-group-text" id="basic-addon1">Datum-do</span>
                      </div>
                      <div class="col col-sm-6">
                        <input type="time" class="form-control" placeholder="Datum-od">
                          <span class="input-group-text" id="basic-addon1">Vreme-do</span> 
                      </div>
                </div>
              <span class="input-group-text" id="basic-addon1" style="margin-top: 2%;">Adresa:</span>
              <input type="text" class="form-control" placeholder="Unesite adresu...">
              <span class="input-group-text" id="basic-addon1" style="margin-top: 2%;">Grad:</span>
              <input type="text" class="form-control" placeholder="Unesite grad...">
              <span style="margin-top: 2%;" class="input-group-text">Maksimalni broj osoba:</span>
              <input type="number" min="1" max="30" class="form-control">
              <span class="input-group-text" style="margin-top: 2%;">Dodatne usluge:</span>
              <textarea class="form-control" id="usernameInput" rows="3" placeholder="Unesite dodatne usluge..."></textarea>
              <span class="input-group-text" id="basic-addon1" style="margin-top: 2%;">Cena:</span>
              <input type="number" min="100" max="100000" step="100" class="form-control" placeholder="Unesite korisničko ime...">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Otkaži</button>
              <button type="button" class="btn btn-danger">Dodaj akciju</button>
            </div>
          </div>
        </div>
      </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</html>